# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Understand basic arithmetic expressions in Python
- Learn to use various data science tools and environments
- Identify popular programming languages for Data Science
- Explore the key takeaways from data science concepts
- Practice evaluating and interpreting arithmetic operations in Python

Some of the popular languages that Data Scientists use are:

Python
SQL
R
Scala
Julia

Create a markdown cell to list data science libraries

Pandas
NumPy
Matplotlib
Seaborn

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#  This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Kumanan